*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    max-height: 800px;
    min-height: 700px;
}
@font-face{
    font-family: "Raleway-Medium";
    src: url("/fonts/Raleway/Raleway-Medium.ttf")
}

@font-face{
    font-family: "Raleway-ExtraBold";
    src: url("/fonts/Raleway/Raleway-ExtraBold.ttf")
}

@font-face{
    font-family: "DancingScript-Bold";
    src: url("/fonts/Lobster_Two/DancingScript-Bold.ttf")
}
.header{
    max-width: 100%;
    min-width: 50%;
}
/* navbar */
#navbar{
    background: #282828;
    height: 55px;
    
}
#navbar .logo{
    padding: 10px;
    font-family: "DancingScript-Bold";
    color: white;
    text-shadow: 1px 1px 2px whitesmoke;
    font-size: 30px;
    padding-left: 19px;
}
#navbar ul{
float: right;
position: relative;
bottom: 48px;
padding-right: 27px;
}

#navbar ul li{
    padding: 10px;
    list-style: none;
    display: inline-block;
}
#navbar a{
    padding:9px;
    text-decoration: none;
    font-family: "Raleway-Medium";
    color:white;
    text-shadow: 1px 1px 2px whitesmoke;
}
#navbar ul li:hover{
    background-color: #ffb74d;
    
}
#navbar a:hover{
    color: black;
    text-shadow: 1px 1px 1px grey;

}
/* showcase */

.showcase{
    background-image: url("/Images/markus-spiske-g5ZIXjzRGds-unsplash.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height:729px;
   max-height: 800px;;
}
.showcase-content{
 text-align: center;
 color: white;
 margin: auto;
 padding: 0px 30px;
 padding-top: 16%;
}
.showcase-content h1{
    font-family: "Raleway-ExtraBold";
    font-size: 60px;
    line-height: 2.5em;
    text-shadow: 1px 1px 1px grey;
}
.showcase .text-primary{
    color: #ffb74d;

}
.showcase-content p{
    font-family: "Raleway-Medium";
    font-size: 20px;
    line-height: 2.5em;
    text-shadow: 1px 1px 1px grey;

}
.showcase-content a{
    background: #282828;
    color: white;
    padding: 20px 15px ;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    font-family: "Raleway-Medium";
    text-shadow: 1px 1px 1px grey;

}
.showcase-content a:hover{
    background: #ffb74d;
    color: black;
    cursor: pointer;
    text-shadow: 1px 1px 1px #282828;

}
/* Footer */
.footer-content{
    background: #181818;
    text-align: center;
    color: white;
    padding: 10px 10px;
    font-family: "Raleway-Medium";
    font-size: 18px;
    text-shadow: 1px 1px 1px grey;
    

}
